{% extends 'base.html' %}

{% block content %}

<h1>Справочник отделений почтовой связи</h1>

<div class="row">
    <div class="col-md-3">
        <h2>Список ОПС</h2>
        <ul class="list-group">
            {% for department in departments %}
            <li class="list-group-item {% if department == selected_department %}active{% endif %}">
                <a href="{% url 'department_list' %}?department={{ department.id }}">
                    {{ department.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-9">
        {% if selected_department %}
        <h2>{{ selected_department.name }}</h2>
        <p>Индекс: {{ selected_department.index }}</p>
        <p>Телефон: {{ selected_department.phone }}</p>
        <p>Тип: {{ selected_department.get_type_display }}</p>
        <p>Район: {{ selected_department.district }}</p>


        <h3>Зарегистрированные устройства</h3>
        <ul>
            {% for device in devices_in_department %}
            <li>{{ device.device_model.manufacturer }} {{ device.device_model.name }} ({{ device.inventory_number }})</li>
            {% endfor %}
        </ul>


        {% else %}
        <p>Выберите отделение из списка слева.</p>
        {% endif %}
    </div>
</div>

{% endblock %}