{% extends 'base.html' %}

{% block content %}

    <h1>Справочник устройств</h1>
    <div class="row mt-4">
        <div class="col-md-3">
            <div class="list-group border-bottom scrollarea">
                {% for device_type in device_types %}
                    <a class="list-group-item list-group-item-action d-flex justify-content-between {% if device_type == selected_device_type %}active{% endif %}"
                       data-bs-toggle="collapse" href="#collapse{{ device_type.id }}"
                       role="button"
                       aria-expanded="false" aria-controls="collapse{{ device_type.id }}">
                        {{ device_type.name }}
                        <span class="badge bg-primary badge-pill">{{ device_type.devicemodel_set.all | length }}</span>
                    </a>
                    <div class="collapse" id="collapse{{ device_type.id }}">
                        <div class="list-group-flush bg-light">
                            {% for device_model in device_type.devicemodel_set.all %}
                                <a class="list-group-item list-group-item-action {% if device_model == selected_device_model %}active{% endif %}"
                                   href="{% url 'device_model_list' %}?device_model={{ device_model.id }}"
                                   style="padding-left: 40px;">
                                    {{ device_model.manufacturer }} {{ device_model.name }}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-9">
            {% if selected_device_model %}
                <h2>{{ selected_device_model.manufacturer }} {{ selected_device_model.name }}</h2>

                <div class="row">
                    <div class="col-md-9">
                        {% if selected_device_model.description %}
                            <p>{{ selected_device_model.description }}</p>
                        {% else %}
                            <p>Описание отсутствует</p>
                        {% endif %}
                    </div>
                    <div class="col-md-3">
                        {% if device_model.image %}
                            <img src="{{ device_model.image.url }}" alt="{{ device_model.name }}" width="200">
                        {% endif %}
                    </div>
                </div>

                <h4>Экземпляры устройств</h4>
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Инвентарный номер</th>
                        <th>ОПС</th>
                        <th>Индекс</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for device_instance in device_instances %}
                        <tr>
                            <td>{{ device_instance.inventory_number }}</td>
                            <td>{{ device_instance.department.name }}</td>
                            <td>{{ device_instance.department.index }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Выберите модель устройства из списка слева.</p>
            {% endif %}
        </div>
    </div>

{% endblock %}