{% extends 'base.html' %}

{% block content %}
<h1>Список устройств</h1>
    <p>Выберите раздел в меню, чтобы продолжить.</p>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Инвентарный номер</th>
      <th>Название</th>
      <th>Тип</th>
      <th>Описание</th>
      <th>Отделение связи</th>
    </tr>
  </thead>
  <tbody>
    {% for device in devices %}
    <tr>
      <td>{{ device.inventory_number }}</td>
      <td>{{ device.name }}</td>
      <td>{{ device.type }}</td>
      <td>{{ device.description }}</td>
      <td>{{ device.department }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}